html {
  font-size: 16px;
}
body {
  margin: 0;
  overflow: hidden;
  background: transparent;
}
.controller.active {
  display: block;
}
.controller.disconnected {
  opacity: 0.1 !important;
}

/* Xbox artwork. */
.controller {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.controller.xbox {
  background: url(./img/xbox/base.svg);
  height: 39.375rem;
  width: 46.875rem;
}

.xbox.white {
  background: url(./img/xbox/base-white.svg);
}

.xbox.disconnected {
  background: url(./img/xbox/disconnected.svg);
}

.xbox.disconnected div {
  display: none;
}

.xbox .triggers {
  width: 27.875rem;
  height: 7.55rem;
  position: absolute;
  left: 9.5rem;
}

.xbox .trigger {
  width: 5.5rem;
  height: 7.55rem;
  background: url(./img/xbox/trigger.svg);
  opacity: 0;
}

.xbox .trigger.left {
  float: left;
  background-position: 0 0;
}

.xbox .trigger.right {
  float: right;
  transform: rotateY(180deg);
}

.xbox .bumper {
  width: 10.625rem;
  height: 3.8rem;
  background: url(./img/xbox/bumper.svg);
  opacity: 0;
}

.xbox .bumpers {
  position: absolute;
  width: 33.5rem;
  height: 3.8rem;
  left: 6.7rem;
  top: 8.05rem;
}

.xbox .bumper.pressed {
  opacity: 1;
}

.xbox .bumper.left {
  float: left;
}

.xbox .bumper.right {
  float: right;
  transform: rotateY(180deg);
}

.xbox .quadrant {
  position: absolute;
  background: url(./img/xbox/quadrant.svg);
  height: 2.8rem;
  width: 2.8rem;
  top: 16.125rem;
  left: 22.125rem;
  z-index: 0;
}

.xbox .p0 {
  transform: rotate(0deg);
}

.xbox .p1 {
  transform: rotate(90deg);
}

.xbox .p2 {
  transform: rotate(270deg);
}

.xbox .p3 {
  transform: rotate(180deg);
}

.xbox .arrows {
  position: absolute;
  width: 8.8rem;
  height: 2.05rem;
  top: 16.5rem;
  left: 19.125rem;
}

.xbox .back,
.xbox .start {
  background: url(./img/xbox/start-select.svg);
  width: 2.05rem;
  height: 2.05rem;
  opacity: 0;
}

.xbox .back.pressed,
.xbox .start.pressed {
  opacity: 1;
}

.xbox .back {
  float: left;
}

.xbox .start {
  background-position: 2.05rem 0rem;
  float: right;
}

.xbox .abxy {
  position: absolute;
  width: 9.55rem;
  height: 9.75rem;
  top: 12rem;
  left: 30.5rem;
}

.xbox .button {
  position: absolute;
  background: url(./img/xbox/abxy.svg);
  width: 3rem;
  height: 3rem;
}

.xbox .button.pressed {
  background-position-y: -3rem;
  margin-top: 0.3rem;
  opacity: 1;
}

.xbox .a {
  background-position: 0 0;
  top: 6.75rem;
  left: 3.45rem;
}

.xbox .b {
  background-position: -3.05rem 0;
  top: 3.625rem;
  right: 0rem;
}

.xbox .x {
  background-position: -6.125rem 0;
  top: 3.625rem;
  left: 0.25rem;
}

.xbox .y {
  background-position: 3rem 0;
  left: 3.45rem;
  top: 0.45rem;
}

.xbox .sticks {
  position: absolute;
  width: 23.2rem;
  height: 12.25rem;
  top: 14.95rem;
  left: 9rem;
}

.xbox .stick {
  position: absolute;
  background: url(./img/xbox/stick.svg);
  background-position: -5.3rem 0;
  height: 5.2rem;
  width: 5.2rem;
}

.xbox .stick.pressed {
  background-position: 0 0;
}

.xbox .stick.left {
  top: 0;
  left: 0;
}

.xbox .stick.right {
  top: 7.05rem;
  left: 18rem;
}

.xbox .dpad {
  position: absolute;
  width: 6.875rem;
  height: 6.95rem;
  top: 21.55rem;
  left: 13.95rem;
}

.xbox .face {
  background: url(./img/xbox/dpad.svg);
  position: absolute;
  opacity: 0;
}

.xbox .face.pressed {
  opacity: 1;
}

.xbox .face.up {
  background-position: 2.125rem 0;
  left: 2.375rem;
  top: 0rem;
  width: 2.125rem;
  height: 3.5rem;
}

.xbox .face.down {
  left: 2.375rem;
  bottom: 0;
  width: 2.125rem;
  height: 3.5rem;
}

.xbox .face.left {
  background-position: 0 -5.8rem;
  width: 3.45rem;
  height: 2.2rem;
  top: 2.375rem;
  left: 0;
}

.xbox .face.right {
  background-position: 0 -3.55rem;
  width: 3.45rem;
  height: 2.2rem;
  top: 2.375rem;
  right: 0;
}

.xbox.half {
  margin-top: -19.7rem;
}

.xbox {
  background: no-repeat center;
}

/* PlayStation artwork. */
.controller.ps {
  background: url(./img/ps/base.svg);
  height: 37.375rem;
  width: 50.375rem;
}

.ps.disconnected {
  background: url(./img/ps/disconnected.svg);
}

.ps.disconnected div {
  display: none;
}

.ps .triggers {
  width: 36.75rem;
  height: 5.625rem;
  position: absolute;
  left: 6.8rem;
}

.ps .trigger {
  width: 6.2rem;
  height: 100%;
  background: url(./img/ps/triggers.svg);
  opacity: 0;
}

.ps .trigger.left {
  float: left;
}

.ps .trigger.right {
  float: right;
  background-position-x: 6.2rem;
}

.ps .bumper {
  width: 6.2rem;
  height: 1.45rem;
  background: url(./img/ps/bumper.svg) no-repeat;
  opacity: 0;
}

.ps .bumpers {
  position: absolute;
  width: 36.75rem;
  height: 1.45rem;
  left: 6.8rem;
  top: 5.875rem;
}

.ps .bumper.pressed {
  opacity: 1;
}

.ps .bumper.left {
  float: left;
}

.ps .bumper.right {
  float: right;
  transform: rotateY(180deg);
}

.ps .touchpad {
  width: 16.375rem;
  height: 9.45rem;
  position: absolute;
  left: 17rem;
  top: 7.625rem;
}

.ps .touchpad.pressed {
  background: url(./img/ps/touchpad.svg) no-repeat center;
}

.ps .meta {
  width: 2.625rem;
  height: 2.625rem;
  position: absolute;
  left: 23.875rem;
  bottom: 13.5rem;
}

.ps .meta.pressed {
  background: url(./img/ps/meta.svg) no-repeat center;
}

.ps .arrows {
  position: absolute;
  width: 22rem;
  height: 2.875rem;
  top: 8.875rem;
  left: 14.2rem;
}

.ps .back,
.ps .start {
  background: url(./img/ps/start.svg);
  width: 1.75rem;
  height: 2.875rem;
  opacity: 0;
}

.ps .back.pressed,
.ps .start.pressed {
  opacity: 1;
}

.ps .back {
  float: left;
}

.ps .start {
  float: right;
  background-position: 1.75rem 0;
}

.ps .abxy {
  position: absolute;
  width: 10.625rem;
  height: 10.7rem;
  top: 9.95rem;
  left: 35.45rem;
}

.ps .button {
  position: absolute;
  width: 3.45rem;
  height: 3.45rem;
  background: url(./img/ps/face.svg);
}

.ps .button.pressed {
  background-position-y: 3.45rem;
}

.ps .a {
  background-position: 0 0;
  bottom: 0;
  left: 3.625rem;
}

.ps .b {
  background-position: -3.55rem 0;
  top: 3.625rem;
  right: 0rem;
}

.ps .x {
  background-position: -7.05rem 0;
  top: 3.625rem;
}

.ps .y {
  background-position: 3.45rem 0;
  left: 3.625rem;
}

.ps .sticks {
  position: absolute;
  width: 22.55rem;
  height: 6.55rem;
  top: 19.25rem;
  left: 14.25rem;
}

.ps .stick {
  position: absolute;
  background: url(./img/ps/sticks.svg);
  height: 5.875rem;
  width: 5.875rem;
}

.ps .stick.pressed.left {
  background-position-x: -6rem;
}

.ps .stick.pressed.right {
  background-position-x: -12rem;
}

.ps .stick.left {
  top: 0;
  left: 0;
}

.ps .stick.right {
  top: calc(100% - 6.55rem);
  left: calc(100% - 6.55rem);
}

.ps .dpad {
  position: absolute;
  width: 7.8rem;
  height: 7.875rem;
  top: 11.3rem;
  left: 5.75rem;
}

.ps .face {
  background: url(./img/ps/dpad.svg);
  position: absolute;
}

.ps .face.up,
.ps .face.down {
  width: 2.25rem;
  height: 3.25rem;
}

.ps .face.left,
.ps .face.right {
  width: 3.25rem;
  height: 2.25rem;
}

.ps .face.up {
  left: 2.75rem;
  top: 0;
  background-position: -2.3rem 0rem;
}

.ps .face.down {
  left: 2.75rem;
  bottom: 0;
  background-position: 0rem 0;
}

.ps .face.left {
  top: 2.8rem;
  left: 0;
  background-position: 6.5rem 0;
}

.ps .face.right {
  top: 2.8rem;
  right: 0rem;
  background-position: 3.25rem 0;
}

.ps .face.pressed {
  background-position-y: 3.25rem;
}

.ps.half {
  margin-top: -18.75rem;
}

/* Fight stick artwork. */
.controller.fight-stick {
  background: url(./img/fsc/base.svg) center no-repeat;
  height: 33.375rem;
  width: 57rem;
}

.fight-stick.disconnected {
  background: url(./img/fsc/disconnected.svg) no-repeat;
}

.fight-stick.disconnected div {
  display: none;
}

.fight-stick .abxy *,
.fight-stick .triggers *,
.fight-stick .bumpers *,
.fight-stick .arrows * {
  border-radius: 100%;
}

.fight-stick .triggers {
  width: 20.3rem;
  height: 12.5rem;
  position: absolute;
  right: 0rem;
  bottom: 3.75rem;
}

.fight-stick .trigger-button {
  width: 7.7rem;
  height: 7.7rem;
  background: #333333;
  opacity: 1;
  display: block;
}

.fight-stick .trigger-button.pressed {
  transform: translateY(0.3rem);
  filter: invert(1);
}

.fight-stick .trigger-button.left {
  position: absolute;
  float: right;
  bottom: 0.25rem;
  right: 2.625rem;
}

.fight-stick .trigger-button.right {
  float: left;
}

.fight-stick .bumpers {
  width: 18.45rem;
  height: 12.5rem;
  position: absolute;
  right: 0rem;
  top: 5.625rem;
}

.fight-stick .bumper {
  width: 7.8rem;
  height: 7.8rem;
  background: #333333;
  opacity: 1;
  display: block;
}

.fight-stick .bumper.pressed {
  transform: translateY(0.3rem);
  filter: invert(1);
}

.fight-stick .bumper.left {
  position: absolute;
  float: right;
  bottom: 0.25rem;
  right: 0.7rem;
}

.fight-stick .bumper.right {
  float: left;
}

.fight-stick .quadrant {
  position: absolute;
  font-size: 1.75rem;
  font-weight: normal;
  top: 1.25rem;
  left: 14.75rem;
  color: white;
}

.fight-stick .arrows {
  position: absolute;
  width: 10.95rem;
  height: 4.375rem;
  top: 1.875rem;
  left: 0.625rem;
}

.fight-stick .back,
.fight-stick .start {
  width: 4.375rem;
  height: 4.375rem;
  background: #333333;
  display: block;
}

.fight-stick .back {
  float: left;
}

.fight-stick .start {
  position: absolute;
  right: 0;
}

.fight-stick .back.pressed,
.fight-stick .start.pressed {
  transform: translateY(0.3rem);
  filter: invert(1);
}

.fight-stick .abxy {
  position: absolute;
  width: 19.375rem;
  height: 23.125rem;
  bottom: 6.25rem;
  right: 21.25rem;
}

.fight-stick .button {
  width: 7.8rem;
  height: 7.8rem;
  background: #333333;
  opacity: 1;
  display: block;
  position: absolute;
}

.fight-stick .button.pressed {
  transform: translateY(0.3rem);
  filter: invert(1);
}

.fight-stick .a {
  bottom: 0rem;
  left: 0rem;
}

.fight-stick .b {
  bottom: 4.125rem;
  right: 1.95rem;
}

.fight-stick .x {
  top: 4.125rem;
  left: 2.05rem;
}

.fight-stick .y {
  right: 0rem;
  top: 0rem;
}

.fight-stick .fstick {
  position: absolute;
  width: 13.75rem;
  height: 13.75rem;
  top: 12.2rem;
  left: -0.95rem;
  background: url(./img/fsc/stick.svg);
}

.fight-stick .fstick.up {
  background-position-x: -110.125rem;
}

.fight-stick .fstick.down {
  background-position-x: -55.125rem;
}

.fight-stick .fstick.left {
  background-position-x: -82.625rem;
}

.fight-stick .fstick.right {
  background-position-x: -27.625rem;
}

.fight-stick .fstick.up.right {
  background-position-x: -13.875rem;
}

.fight-stick .fstick.up.left {
  background-position-x: -96.375rem;
}

.fight-stick .fstick.down.right {
  background-position-x: -41.375rem;
}

.fight-stick .fstick.down.left {
  background-position-x: -68.875rem;
}

/* GameCube artwork. */
.controller.gc {
  background: url(./img/gcn/base.svg) no-repeat;
  height: 52.3rem;
  width: 61.125rem;
}

.gc.disconnected {
  background: url(./img/gcn/disconnected.svg) no-repeat;
}

.gc.disconnected div {
  display: none;
}

.gc .triggers {
  width: 48.45rem;
  height: 5.95rem;
  position: absolute;
  left: 6.375rem;
}

.gc .trigger {
  width: 8.2rem;
  height: 100%;
  background: url(./img/gcn/trigger.svg);
  opacity: 0;
}

.gc .trigger.left {
  float: left;
}

.gc .trigger.right {
  float: right;
}

.gc .bumper {
  width: 9.875rem;
  height: 100%;
  background: url(./img/gcn/buttons.svg) no-repeat;
  background-position: -22.375rem 0rem;
  opacity: 0;
}

.gc .bumpers {
  position: absolute;
  width: 49.5rem;
  height: 4.55rem;
  left: 6.45rem;
  top: 8.625rem;
}

.gc .bumper.pressed {
  opacity: 1;
}

.gc .bumper.left {
  float: left;
  display: none;
}

.gc .bumper.right {
  float: right;
}

.gc .arrows {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  top: 20.25rem;
  left: 29.05rem;
}

.gc .back,
.gc .start {
  width: 2.7rem;
  height: 2.7rem;
  background: #e7e7e7;
  border: solid 0.3rem rgba(0, 0, 0, 0.65);
  background-clip: content-box;
  opacity: 0;
}

.gc .back.pressed,
.gc .start.pressed {
  opacity: 1;
  filter: invert(1);
}

.gc .back {
  display: none;
}

.gc .start {
  float: right;
}

.gc .abxy {
  position: absolute;
  width: 18rem;
  height: 14.375rem;
  top: 12.95rem;
  left: 40rem;
}

.gc .button {
  position: absolute;
  background: url(./img/gcn/buttons.svg);
  opacity: 0;
}

.gc .button.pressed {
  opacity: 1;
}

.gc .a {
  background-position: 0 0;
  width: 7.125rem;
  height: 7.125rem;
  bottom: 2.2rem;
  left: 5.7rem;
}

.gc .b {
  width: 4.45rem;
  height: 4.45rem;
  background-position: -7.25rem 0;
  bottom: 0rem;
  left: 0.0625rem;
}

.gc .x {
  width: 4.125rem;
  height: 6.45rem;
  background-position: -18.25rem 0;
  top: 4.05rem;
  right: 0rem;
}

.gc .y {
  width: 6.45rem;
  height: 4.125rem;
  background-position: -11.8rem 0;
  left: 4.2rem;
  top: 0.125rem;
}

.gc .sticks {
  position: absolute;
  width: 39.25rem;
  height: 24.5rem;
  top: 16.125rem;
  left: 6.625rem;
}

.gc .stick {
  position: absolute;
}

.gc .stick.left {
  top: 1.5rem;
  left: 1.45rem;
  background: url(./img/gcn/left-stick.svg) center no-repeat;
  height: 7.55rem;
  width: 7.55rem;
}

.gc .stick.right {
  top: calc(100% - 7.95rem);
  left: calc(100% - 7.8rem);
  background: url(./img/gcn/cstick.svg) center no-repeat;
  width: 5.25rem;
  height: 5.25rem;
}

.gc .dpad {
  position: absolute;
  width: 8.125rem;
  height: 8.125rem;
  top: 31.05rem;
  left: 16.45rem;
}

.gc .face {
  background: url(./img/gcn/dpad.svg) no-repeat;
  position: absolute;
  opacity: 0;
}

.gc .face.up,
.gc .face.down {
  width: 2.75rem;
  height: 4.05rem;
}

.gc .face.left,
.gc .face.right {
  width: 4.05rem;
  height: 2.75rem;
}

.gc .face.up {
  left: 2.625rem;
  top: 0;
  background-position: 0rem 0rem;
}

.gc .face.down {
  left: 2.625rem;
  bottom: 0;
  background-position: -2.875rem 0;
}

.gc .face.left {
  top: 2.7rem;
  left: 0;
  background-position: -5.8rem 0;
}

.gc .face.right {
  top: 2.7rem;
  right: 0rem;
  background-position: -10rem 0;
}

.gc .face.pressed {
  opacity: 1;
}
